<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>link:</strong>
  <%= @article.link %>
</p>

<h2>Comments/Tasks</h2>
<%= render @article.comments %>

<h2>Add a comment or task:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article),
    method: :delete,
    data: { confirm: 'Why? Why can\'t I stay?' } %> |
<%= link_to 'Back', articles_path %>
